#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-juego {
  background: #535bf2;
  padding: 1rem 3rem;
  border-radius: 15px;
  width: 70%;
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 800;
  width: 100%;
}

input {
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
}

p {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #213547;
}



/*  * Colores
#747bff
#646cff
#535bf2
#213547
#242424
*/