:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#lista-compras {
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-right: 0.2rem;
}

#btnAdd {
  background-color: #747bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
}

li {
  background-color: #444;
  color: white;
  padding: 7px;
  margin: 6px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  max-width: 100%;
}

li p {
  margin: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

li button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.30rem;
  cursor: pointer;
  margin-left: 0.5rem;
}